body {
    background-color: #f1f1f1;
    font-family: 'Lucida Sans Unicode' !important;
}

.PanelIzquierdo {
    width: 40%;
    margin: auto auto auto 13px;
}

.PanelBusqueda{

    margin:auto 13px auto auto;

}

.BotonBusqueda {
    width:100%
}

.RadioB input[type="radio"]{
    margin-left:30px;
}

.ResultadosBusqueda{ 
}

.ListaResultados{
    margin:0 auto;
}